body{
  font-family:Segoe UI, sans-serif;
  text-align:center;
  background:#f4f7fb;
  padding-top:100px;
}

.btn-cek{
  background:#003366;
  color:white;
  padding:16px 28px;
  font-size:18px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

.popup{
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:rgba(0,0,0,0.45);
  display:flex;
  justify-content:center;
  align-items:center;
}

.popup-box{
  background:white;
  padding:30px;
  border-radius:14px;
  width:90%;
  max-width:500px;
  text-align:left;
  animation:fadeIn .3s ease;
}

.semester-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-bottom:15px;
}

input{
  width:100%;
  padding:8px;
  margin-top:6px;
  border-radius:6px;
  border:1px solid #ccc;
}

.btn-hasil{
  width:100%;
  margin-top:15px;
  padding:12px;
  background:#0a7cff;
  color:white;
  border:none;
  border-radius:8px;
}

.btn-tutup{
  margin-top:10px;
  background:none;
  border:none;
  color:#888;
  cursor:pointer;
}

.hidden{
  display:none;
}

.layak{ color:green; font-weight:bold;}
.tidak{ color:red; font-weight:bold;}

@keyframes fadeIn{
  from{opacity:0; transform:scale(.9);}
  to{opacity:1; transform:scale(1);}
}
