body {
  background:#f4f7fb;
  margin:0;
  padding:20px;
}

.kampus-wrapper {
  max-width:800px;
  margin:auto;
  padding:30px;
  background:white;
  border-radius:14px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  font-family:Segoe UI, sans-serif;
}

.subtitle {
  text-align:center;
  color:#666;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

input {
  width:100%;
  padding:10px;
  margin:6px 0;
  border-radius:8px;
  border:1px solid #ccc;
}

button {
  width:100%;
  margin-top:20px;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#003366;
  color:white;
  font-size:16px;
}

#hasilBox {
  margin-top:25px;
  text-align:center;
  animation:fadeIn .7s ease;
}

.layak { color:green; }
.tidak { color:red; }

.popup {
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.45);
  display:flex;
  justify-content:center;
  align-items:center;
}

.popup-content {
  background:white;
  padding:30px;
  border-radius:12px;
  text-align:center;
}

#chartNilai{
  max-height: 300px;
  margin-top: 15px;
}

.hidden { display:none; }

@keyframes fadeIn {
  from {opacity:0; transform:translateY(10px);}
  to {opacity:1; transform:translateY(0);}
}

