body{
  font-family: Inter, system-ui, sans-serif;
  background: #f8fafc;
}

.modal-content{
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.hasil-box{
  max-width: 420px;
  text-align:center;
}

.layak{
  color: #16a34a;
  font-weight: 600;
}

.tidak{
  color: #dc2626;
  font-weight: 600;
}

#hasilRata{
  font-size:18px;
  margin-bottom:15px;
}

.hidden {
  display: none;
}

/* button */
.btn-primary{
  background: #111827;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
}

.btn-primary:hover{
  background: #1f2937;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
}

canvas{
  margin-top:15px;
}

#warningBox{
  display:block;
  background-color: #fff3cd;
  color: #856404;
  border-left: 5px solid #ffc107;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  animation: fadeSlide .4s ease;
}

@keyframes fadeSlide{
  from{
    opacity:0;
    transform: translateY(-6px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fadeIn{
  from{opacity:0; transform: translateY(20px);}
  to{opacity:1; transform: translateY(0);}
}








