body{
  font-family: 'Segoe UI', sans-serif;
}

.modal-content{
  animation: fadeIn .4s ease;
}

.hasil-box{
  max-width: 420px;
  text-align:center;
}

.layak{
  color:#198754;
  font-weight:bold;
  font-size:20px;
}

.tidak{
  color:#dc3545;
  font-weight:bold;
  font-size:20px;
}

#hasilRata{
  font-size:18px;
  margin-bottom:15px;
}

.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
}

@keyframes fadeIn{
  from{opacity:0; transform: translateY(20px);}
  to{opacity:1; transform: translateY(0);}
}


